@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-branca: #ffffff;
    --cor-vermelha: #8E2424;
    --cor-azul: #101828;
    --cor-azul-claro: #667085;
    --cor-vermelha-opacidade: rgba(142, 36, 36, 0.05);
    --cor-footer: 152, 162, 179, 1;
    --cor-hover: #101828;
    --fonte-primaria: 'Inter', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
    margin: 2em;
}

.menu {
    text-decoration: none;
    padding-right: 25em;
}

.menu-link {
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--cor-azul-claro);
    padding: 0 1.5em;
}

.botoes {
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 500;
}

.botao-1,
.botao-2 {
    text-decoration: none;
    padding: 0 0.5em;
    font-size: 16px;
    font-weight: 500;
    padding: 0 1.5em;
}

.botao-1 {
    color: var(--cor-azul-claro);
    border: none;
    background: none;
}

.botao-2 {
    background-color: var(--cor-vermelha);
    color: var(--cor-branca);
    padding: 0.8em;
    border-radius: 6px;
    border: none;
}

.primeira-seção {
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    padding: 5rem;
}

.primeira-seção span {
    font-size: 16px;
    color: var(--cor-vermelha)
}

.primeira-seção h1 {
    font-size: 48px;
    color: var(--cor-hover)
}

.primeira-seção p {
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-azul-claro);
    line-height: 1.5;
}

.segunda-seção {
    display: flex;
    justify-content: space-evenly;
    font-family: var(--fonte-primaria);
}

.segunda-seção h1 {
    font-size: 60px;
    font-weight: 600;
    color: var(--cor-vermelha);
    margin-bottom: 10px;
}

.segunda-seção h2 {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-azul);
    margin-top: 5px;

}

.segunda-seção p {
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-azul-claro)
}

.meio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meio h1 {
    font-family: var(--fonte-primaria);
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-vermelha);
    margin-top: 8em;
    background-color: #8E2424 5%;
    padding: 0.3em 0.7em 0.3em 0.7em;
    border-radius: 15px;
    background: rgba(142, 36, 36, 0.05);
}

.meio h2 {
    font-family: var(--fonte-primaria);
    font-size: 36px;
    font-weight: 600;
    color: var(--cor-azul);
}

.meio p {
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-azul-claro);
    padding: 0 0 3em 0;
    margin-top: 1px;
}